.khan__buy-link {
    margin-left: 48px;
    margin-bottom: auto;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    transition: .5s;
}